.dashboardContainer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 6rem;
	height: 100vh;
	min-width: 320px;
	max-width: 1600px;   
}

.header {
	text-align: right;
	margin-bottom: 10px;
}

.card-stats.card{
	background-color: #f8f9fa;
}

.UserInfo.card{
	background-color: #f8f9fa;
}