.title {
    display: flexbox;
    width: 500px;
}

.loginContainer {
    padding-left: 35%;
	padding-top: 15%;
    width: 70vw;
}

.login {
    margin-top: 7%;
    margin-left: 18%;
    text-align: right;
    display: inline-flexbox;
    width: 500px;
}

body {
    background-image: url("assets/img/HSBCLogo.svg");
    background-repeat: no-repeat;
    background-position: 50px;
    background-position-y: 40px;
    background-size: 10%;
}