.title {
    display: flexbox;
    margin-top: 160px;
    margin-left: 300px;
    width: 500px;
}

.login {
    margin-top: 40px;
    margin-left: 400px;
    text-align: right;
    display: inline-flexbox;
    width: 500px;
}

body {
    background-image: url("assets/img/HSBCLogo.svg");
    background-repeat: no-repeat;
    background-position: 50px;
    background-position-y: 40px;
    background-size: 12%;
}