.title {
    display: flexbox;
    
}

.loginContainer {
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 200px;
    height: 100vh;
    min-width: 320px;
    max-width: 1000px;   
}

.login {
    margin-top: 7%;
    margin-left: 18%;
    text-align: right;
    display: inline-flexbox;
}

body {
    background-image: url("assets/img/HSBCLogo.svg");
    background-repeat: no-repeat;
    background-position: 60px;
    background-position-y: 40px;
    background-size: 150px;
}