.portfolioContainer {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 6rem;
	height: 100vh;
	min-width: 320px;
	max-width: 1600px;
}
.portfolioHeader{
	align-content: center;
	margin-bottom:10px;
}
.portfolioHeader.card {	
	background-color: #f5f5f5;	
}

.topButton {
	width: 220px;
	margin-left: 10px !important;
	margin-right: 10px !important;
	
}

.assessmentIcon{
	margin-bottom: 4px;
}

.bottomRow{
	justify-content: flex-end;
}

.toggleButton:selected {
	background-color: red;
}
.allowedDeviationClass{
	margin-top: 15px !important;
	margin-left: 10px !important;
	margin-bottom: 10px !important;
}

.recommendationIdText{
	margin-left: 20px !important;
}
.recommendCard {
	padding-left:10px;
}

.fundCard {
	height: 120px;	
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	align-content: center;
	
}

.fundRow{
	padding-left:5px;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
	background-color: #f5f5f5;
}

.donut{
	padding-left:5px;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100%;
}


.sellButtonClass {
	width: 50px;
	margin-right: 10px !important;

}

.miniFundCard{
	padding-left:5px;
	height: 100%;
	justify-content: center; 
	background-color: #f5f5f5;
}

.fundIDString {
	padding-top: 1.3rem;
}

/* .fundColumn {
	text-align: center;
} */

.tableHeader {
	text-align: center;
	padding: 0px !important;
	margin-bottom: 0px !important;
	justify-content: baseline;
}

.percentColumn {
	align-items: center;
	justify-content: center; 
	text-align: center;
	
}

.outlined-number{
	text-align: center;
	justify-content: center;

}



/*.closeIcon {
  fontSize: 20;
}*/
/*.Snackbar {
	width: 120px;
	background-color: "#FF0266";
}
.SnackbarContent {
	background-color: "#FF0266";
}
.closeIcon {
  opacity: 0.9;
  marginRight: 20;
}
.message {
  display: 'flex';
  alignItems: 'center';
}*/