.portfolioHeader{
	align-content: center;
	margin-bottom:10px;
}

.topButton {
	width: 200px;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
}

.assessmentIcon{
	margin-bottom: 4px;
}

.bottomRow{
	justify-content: flex-end;
}

.allowedDeviationClass{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.recommendCard {
	padding-left:10px;
}

.fundCard {
	height: 120px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.sellButtonClass {
	width: 50px;
	margin-right: 10px !important;

}

.miniFundCard{
	padding-left:5px;
	text-align: left;	
}

.fundIDString {
	padding-top: 20px;
}

.fundColumn {
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: left;
}

.percentColumn {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}



/*.closeIcon {
  fontSize: 20;
}*/
/*.Snackbar {
	width: 120px;
	background-color: "#FF0266";
}
.SnackbarContent {
	background-color: "#FF0266";
}
.closeIcon {
  opacity: 0.9;
  marginRight: 20;
}
.message {
  display: 'flex';
  alignItems: 'center';
}*/